workflows/Moodle.json
{
  "name": "Moodle to Google Calendar & TimeTree",
  "nodes": [
    {
      "parameters": {
        "url": "https://moodle45.nccu.edu.tw/calendar/export_execute.php?userid=<YOUR_USER_ID>&authtoken=<YOUR_AUTH_TOKEN>&preset_what=all&preset_time=recentupcoming",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [224, 0],
      "id": "moodle-fetch-node",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 取得原始資料\nconst icsData = items[0].json.data;\nconst events = icsData.split('BEGIN:VEVENT');\nevents.shift();\n\nconst results = events.map(event => {\n    // 1. 處理標題\n    let summary = event.match(/SUMMARY:(.*)/)?.[1] || '無標題';\n    const categories = event.match(/CATEGORIES:(.*)/)?.[1] || '';\n    let courseName = '';\n    if (categories) {\n        const parts = categories.split('_');\n        courseName = (parts.length >= 3) ? parts[2] : parts[0];\n    }\n    const finalSummary = courseName ? `${courseName} ${summary.trim()}` : summary.trim();\n\n    // 2. 處理 Google ID\n    let uid = event.match(/UID:(.*)/)?.[1] || '';\n    uid = uid.trim();\n    let cleanUid = uid.toLowerCase().replace(/[^a-v0-9]/g, '');\n    const googleId = `moodle${cleanUid}`; \n\n    // 3. 處理時間 (台北時間 +08:00)\n    const startRaw = event.match(/DTSTART:(\\d+T\\d+Z)/)?.[1] || '';\n    let formattedDate = '';\n    \n    if (startRaw) {\n        const isoString = startRaw.replace(\n            /(\\d{4})(\\d{2})(\\d{2})T(\\d{2})(\\d{2})(\\d{2})Z/,\n            '$1-$2-$3T$4:$5:$6Z'\n        );\n        const dateObj = new Date(isoString);\n        const localString = dateObj.toLocaleString('sv-SE', { timeZone: 'Asia/Taipei' });\n        formattedDate = localString.replace(' ', 'T') + '+08:00';\n    }\n\n    return {\n        summary: finalSummary,\n        start: formattedDate,\n        googleId: googleId\n    };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0],
      "id": "js-parsing-node",
      "name": "Data Parsing (JavaScript)"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "<YOUR_GMAIL_ADDRESS>",
          "mode": "list"
        },
        "start": "={{ $json.start }}",
        "end": "={{ $json.start }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "id": "={{ $json.googleId }}",
          "summary": "={{ $json.summary }}"
        },
        "remindersUi": {
          "remindersValues": [
            { "method": "popup", "minutes": 60 }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [672, 0],
      "id": "google-calendar-node",
      "name": "Create Google Calendar Event",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "interval": 4 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [16, 0],
      "id": "schedule-trigger",
      "name": "Every 4 Hours"
    }
  ],
  "connections": {
    "HTTP Request": { "main": [[{ "node": "Data Parsing (JavaScript)", "type": "main", "index": 0 }]] },
    "Data Parsing (JavaScript)": { "main": [[{ "node": "Create Google Calendar Event", "type": "main", "index": 0 }]] },
    "Every 4 Hours": { "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]] }
  }
}